settings.php
sites/default/settings.php

# OS Rubbish
.DS_Store
Thumbs.db

# VCS
CVS
.svn


# Editors.
._*
.tmp*
sites/default/files/* 
sites/default/files
*~
*.gz
*.tgz
#.bak
.htaccess
.*.sw*

.sass-cache

# Legacy syncing technique
.unison


# PHP Log files one of the servers keeps barfing.
error_log

# drush sometimes stores backups here
backup

# boost module cache folder.
public_html/cache 
