# Drupal
settings.php
sites/*/settings.php
sites/*/files/* 
sites/*/files
.htaccess
backup
public_html/cache 

# Operating Systems
.DS_Store
Thumbs.db

# Version Control Systems
CVS
.svn

# Editors.
._*
.tmp*
*~
*.gz
*.tgz
*.bak
.*.sw*

# Tools
.sass-cache
.unison

# PHP
error_log